h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    color: #551aa0;
    text-align: center;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    height: 100vh;
    display: grid;
    grid-template-rows: max-content max-content max-content;
  }
  
  .navbar {
    height: 15vh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
  }
  
  .one {
    grid-column: 1;
  }
  
  .one>span {
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    color: #551a8b;
  }
  
  .name {
    text-align: center;
  }
  
  .logo {
    text-decoration: none;
    font-size: 3rem;
  }
  
  .login {
    grid-column: 3/4;
    grid-row: 1;
  }
  
  .login>a {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
  }

  /*footer*/

footer {

  display: grid;
  grid-row: 3;
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer div {
  justify-self: center;
  font-size: 1.2em;
}

i {
  padding-bottom: 5px;
  justify-content: center;
  color: lightgrey;
}

footer p {
  justify-self: center;
  font-size: 12px;
}

#extraspace {
  padding-top: 10px;
}